@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var version = "?v=" + DateTime.Now.Ticks.ToString();
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/beyond")
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/skin")
</head>
<body>
<div class="dv-loading hide">
    <div class="process">
        <img src="~/Assets/img/w-loading.gif">
    </div>
</div>
@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/beyond")

@Scripts.Render("~/bundles/base")

@Scripts.Render("~/bundles/mustache")

@Scripts.Render("~/bundles/noty")

@RenderSection("PageScripts", required: false)

<script src="~/assets/modules/@(ViewBag.Controller ?? controller)Controller.js@(version)"></script>
</body>
</html>
