@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var version = "?v=1.0";//+DateTime.Now.Ticks.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    @Styles.Render("~/css/beyond")
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    @Styles.Render("~/css/datatable")
    @Styles.Render("~/css/chosen")
    @Scripts.Render("~/bundles/skin")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="dv-loading hide">
        <div class="process">
            <img src="~/Assets/img/w-loading.gif">
        </div>
    </div>
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>                            
                            <h1 style="margin: 2px;">Place Map</h1>
                        </small>
                    </a>
                </div>
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">                            
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <img src="/assets/img/avatars/Osvaldus-Valutis.jpg">
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>Administrator</span></span></h2>
                                    </section>
                                </a>
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>Admin</a></li>
                                    <li class="email"><a>admin@google.com</a></li>
                                    <li>
                                        <div class="avatar-area">
                                            <img src="/assets/img/avatars/adam-jansen.jpg" class="avatar">
                                            <span class="caption" id="btn_UploadImage">Đổi ảnh</span>
                                            <input type="file" class="upload" id="f_UploadImage" style="display:none;">
                                        </div>
                                    </li>
                                    <li class="edit">
                                        <a href="#" class="pull-left" id="btnProfile">Về tôi</a>
                                        <a href="#" class="pull-right" id="btnSetting">Cài đặt</a>
                                    </li>
                                    <li class="theme-area">
                                        <ul class="colorpicker" id="skin-changer">
                                            <li><a class="colorpick-btn" href="#" style="background-color: #5DB2FF;" rel="/assets/css/skins/blue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #2dc3e8;" rel="/assets/css/skins/azure.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #03B3B2;" rel="/assets/css/skins/teal.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #53a93f;" rel="/assets/css/skins/green.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #FF8F32;" rel="/assets/css/skins/orange.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #cc324b;" rel="/assets/css/skins/pink.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #AC193D;" rel="/assets/css/skins/darkred.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #8C0095;" rel="/assets/css/skins/purple.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #0072C6;" rel="/assets/css/skins/darkblue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #585858;" rel="/assets/css/skins/gray.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #474544;" rel="/assets/css/skins/black.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color: #001940;" rel="/assets/css/skins/deepblue.min.css"></a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a id="btnThoat" href="javascript:void();">Thoát</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="setting">
                            <a id="btn-setting" title="Setting" href="javascript:void();">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </div>
                        <div class="setting-container">
                            <label>
                                <a href="javascript:void();" id="btn_setting" class="btn btn-link"><i class="fa fa-cogs"></i> Cài đặt</a>                                
                            </label>
                            <label>
                                <a href="javascript:void();" id="btn_logout" class="btn btn-link"><i class="fa fa-sign-out"></i> Thoát</a>                                
                            </label>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container container-fluid">
        <div class="page-container">
            <div class="page-sidebar" id="sidebar">
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Tìm kiếm ...</div>
                </div>
                @Html.Partial("_SlidebarMenu")
            </div>            
            <div class="page-content">
                <div class="page-body">                    
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/beyond")

    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/chosen")

    @Scripts.Render("~/bundles/editer")

    @Scripts.Render("~/bundles/base")

    @Scripts.Render("~/bundles/mustache")

    @Scripts.Render("~/bundles/noty")

    @Scripts.Render("~/bundles/validation")

    @RenderSection("PageScripts", required: false)

    <script src="~/assets/modules/@(ViewBag.Controller ?? controller)Controller.js@(version)"></script>

    @RenderSection("FooterScripts", required: false)

</body>
</html>